*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}
body{
	min-width: 320px;
	height: 100svh;
	/* color: white; */
}
/* .background-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;

  }

  .background-video video {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cropped-video {
    clip-path: inset(30% 30% 20% 50%);
  } */
.hero{
	background: linear-gradient(to bottom,#D9D9D8,#D9D9D8,white,white);
	/* background-color: transparent; */
}
.nav_bar{
	width: 100%;
	height: 10svh;
	/* background-color: black; */
	display: flex;
	justify-content: space-between;
	/* background: linear-gradient(to right,white,grey); */
	/* background-color: #D9D9D8; */
	background-color: transparent;
	background-color: #3E0101;

}
.menu_logo,
.loc_user{
	width: 345.41px;
	height: 100%;
	/* background-color: pink; */
	display: flex;
}

.menu_bar{
	width: 40%;
	height: 100%;
	/* background-color: #D9D9D8; */
	background-color: transparent;
	text-align: center;
	align-content: center;
	font-size: 32px;
}
.menu_bar i{
	cursor: pointer;
}
.logo{
	width: 60%;
	height: 100%;
}
.loc{
	width: 60%;
	height: 100%;
	/* background-color: white; */
	text-align: center;
	align-content: center;
	color: white;
}
.user{
	width: 40%;
	height: 100%;
	text-align: center;
	align-content: center;
	font-size: 36px;
}
.user i{
	cursor: pointer;
}


@media screen and (min-width:768px) and (max-width:1023px){
	.nav_bar{
		position: relative;
	}
	.menu_bar{
		width: 138.15px;
	}
	.menu_bar,
	.logo,
	.loc{
		position: absolute;
	}
	.user{
		display: none;
	}
	.menu_bar{
		right: 0;
	}
	.logo{
		margin-left: 25px;
		width: 210px;
		height: 76.8px;
	}
	.loc{
		left: 19%;
		right: 20%;
	}
}


@media screen and (max-width:767px){
	.nav_bar{
		position: relative;
	}
	.menu_bar{
		width: 100px;
	}
	.menu_bar,
	.logo{
		position: absolute;
	}
	.user,.loc{
		display: none;
	}
	.menu_bar{
		right: 0;
	}
	.logo{
		margin-left: 25px;
		width: 210px;
		height: 76.8px;
	}
}

@media screen and (max-width:700px){
	.state_div{
		position: relative;
	}
	.state_map,
	.state_name{
		position: absolute;
	}
	.state_name.visible,
	.state_map.visible{
		width: 100%;
		height: 100%;
	}
	.state_name.visible{
		z-index: 100;
	  font: 50px/em/rm;
	}
}
/* state image division */

.state_div{
	width: 100%;
	height: 65svh;
	/* background: linear-gradient(to right,#D9D9D8,white,grey); */
	background-color: transparent;
	display: flex;
}


.state_name{
	width: 50%;
	height: 100%;
	background-color: transparent;
	text-align: center;
	align-content: center;
	font-size: 50px;
	letter-spacing: 10px;
	text-shadow: 4px 3px 2px grey;
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 1s;
}
.state_name.visible,
.state_map.visible,
.temp1.visible,
.temp2.visible,.temp3.visible,.temp4.visible,.temp5.visible,.temp6.visible,.temp7.visible,.temp8.visible{
	opacity: 1;
	transform: translateX(0);
}
.state_name p{
	font-size: 30px;
	text-shadow: 2px 1px 1px grey;
	letter-spacing: 5px;
	margin-top: 15px;
}
.state_map{
	width: 50%;
	height: 100%;
	background-color: transparent;
	transform: translateX(100%);
	opacity: 0;
	transition: transform 1s;
}
.state_map img{
	filter: drop-shadow(0 7px 7px black);
}

@media screen and (max-width:400px){
	.state_name{
		font-size: 40px;
	}
	.state_name p{
		font-size: 22px;
	}
}
.temples_card{
	width: 100%;
	height: fit-content;
	/* background: linear-gradient(to bottom,white,rgb(202, 202, 202) ); */
	background-color: transparent;
	display: flex;
	flex-direction: column;
}
.cards{
	width: 350px;
	height: 450px;
	background-color: white;
	margin: 50px 30px 20px 30px;
	border: 3px solid black;
	border-radius: 25px;
}
.temple{
	width: 100%;
	height: fit-content;
	/* background-color: pink; */
	margin: 10px 0;
}
.temp1,
.temp3,
.temp5,
.temp7{
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 1s;
	transition-delay: .5s;
}
.temp2,
.temp4,
.temp6,
.temp8{
	transform: translateX(100%);
	opacity: 0;
	transition: transform 1s;
	transition-delay: .5s;
}
.temple_pic{
	width: fit-content;
	height: 350px;
	margin: 25px auto;
}
.temple_pic .img{

}
.matter{
	width: 80%;
	height: fit-content;
	margin: 25px auto;
	font-size: 18px;
}
.matter p{
	text-indent: 50px;
}

.temple_location{
	width: 100%;
	height: fit-content;
	text-align: center;
	margin: auto;
}

a{
	text-decoration: none;
	color: white;
}